<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sample1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>condb2.DbConnection</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddServlet</display-name>
  	<servlet-name>AddServlet</servlet-name>
  	<servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppleServlet</display-name>
    <servlet-name>UpdateAppleServlet</servlet-name>
    <servlet-class>controller.UpdateAppleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppleServlet</servlet-name>
    <url-pattern>/UpdateAppleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteAppleServlet</display-name>
  	<servlet-name>DeleteAppleServlet</servlet-name>
  	<servlet-class>controller.DeleteAppleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DeleteAppleServlet</servlet-name>
  	<url-pattern>/DeleteAppleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>
  	</description>
  	<display-name>UploadServlet1</display-name>
  	<servlet-name>UploadServlet1</servlet-name>
  	<servlet-class>controller.UploadServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet1</servlet-name>
  	<url-pattern>/UploadServlet1</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>
  	</description>
  	<display-name>UploadServlet2</display-name>
  	<servlet-name>UploadServlet2</servlet-name>
  	<servlet-class>controller.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet2</servlet-name>
  	<url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
     <servlet>
   	<description>
   	</description>
   	<display-name>UploadServlet3</display-name>
   	<servlet-name>UploadServlet3</servlet-name>
   	<servlet-class>controller.UploadServlet3</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet3</servlet-name>
  	<url-pattern>/UploadServlet3</url-pattern>
  </servlet-mapping>
      <servlet>
     	<description>
     	</description>
     	<display-name>UploadServlet4</display-name>
     	<servlet-name>UploadServlet4</servlet-name>
     	<servlet-class>controller.UploadServlet4</servlet-class>
     </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet4</servlet-name>
  	<url-pattern>/UploadServlet4</url-pattern>
  </servlet-mapping>
      <servlet>
      	<description>
      	</description>
      	<display-name>UpdateHtcServlet</display-name>
      	<servlet-name>UpdateHtcServlet</servlet-name>
      	<servlet-class>controller.UpdateHtcServlet</servlet-class>
      </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateHtcServlet</servlet-name>
  	<url-pattern>/UpdateHtcServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>UpdateNokiaServlet</display-name>
   	<servlet-name>UpdateNokiaServlet</servlet-name>
   	<servlet-class>controller.UpdateNokiaServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateNokiaServlet</servlet-name>
  	<url-pattern>/UpdateNokiaServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>UpdateSamsungServlet</display-name>
   	<servlet-name>UpdateSamsungServlet</servlet-name>
   	<servlet-class>controller.UpdateSamsungServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateSamsungServlet</servlet-name>
  	<url-pattern>/UpdateSamsungServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>UpdateSonyServlet</display-name>
   	<servlet-name>UpdateSonyServlet</servlet-name>
   	<servlet-class>controller.UpdateSonyServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateSonyServlet</servlet-name>
  	<url-pattern>/UpdateSonyServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>DeleteHtcServlet</display-name>
   	<servlet-name>DeleteHtcServlet</servlet-name>
   	<servlet-class>controller.DeleteHtcServlet</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>DeleteHtcServlet</servlet-name>
  	<url-pattern>/DeleteHtcServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>DeleteNokiaServlet</display-name>
   	<servlet-name>DeleteNokiaServlet</servlet-name>
   	<servlet-class>controller.DeleteNokiaServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteNokiaServlet</servlet-name>
  	<url-pattern>/DeleteNokiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   	<description>
   	</description>
   	<display-name>DeleteSamsungServlet</display-name>
   	<servlet-name>DeleteSamsungServlet</servlet-name>
   	<servlet-class>controller.DeleteSamsungServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteSamsungServlet</servlet-name>
  	<url-pattern>/DeleteSamsungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteSonyServlet</display-name>
  	<servlet-name>DeleteSonyServlet</servlet-name>
  	<servlet-class>controller.DeleteSonyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteSonyServlet</servlet-name>
  	<url-pattern>/DeleteSonyServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<description>
  	</description>
  	<display-name>AdminLoginServlet</display-name>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    	<description>
    	</description>
    	<display-name>DeletewishlistServlet</display-name>
    	<servlet-name>DeletewishlistServlet</servlet-name>
    	<servlet-class>controller.DeletewishlistServlet</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>DeletewishlistServlet</servlet-name>
  	<url-pattern>/DeletewishlistServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    	<description>
    	</description>
    	<display-name>AddressServlet</display-name>
    	<servlet-name>AddressServlet</servlet-name>
    	<servlet-class>controller.AddressServlet</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>AddressServlet</servlet-name>
  	<url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    	<description>
    	</description>
    	<display-name>SalesServlet</display-name>
    	<servlet-name>SalesServlet</servlet-name>
    	<servlet-class>controller.SalesServlet</servlet-class>
    </servlet>
 
  <servlet-mapping>
  	<servlet-name>SalesServlet</servlet-name>
  	<url-pattern>/SalesServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
   <servlet>
   	<description>
   	</description>
   	<display-name>ChatServlet</display-name>
   	<servlet-name>ChatServlet</servlet-name>
   	<servlet-class>controller.ChatServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>ChatServlet</servlet-name>
  	<url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>  
</web-app>